.context-menu {
   position: absolute;
   background-color: #18191c;
   padding: 1rem;
   border-radius: 0.4rem;
   display: none;
   flex-direction: column;
   z-index: 10;
   box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5);
}

/* Context Menu Item */

