.header {
   width: 100%;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   color: white;
   overflow: hidden;
   /* background-color: var(--toolbar-background-colour); */
   background-color: transparent;
   border-bottom: .2rem solid rgba(0, 0, 0, 0.15);
   color: var(--main-text-colour);
   font-size: .8rem;
   z-index: 0;
}

.channels-container {
   display: flex;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   width: 100%;
   gap: .8rem;
   align-items: center;
   padding-left: 1.5rem;   
   font-size: .8rem;
}

.channels-container::after {
   content: "";
   width: 2rem;
   height: 4.8rem;
   background: linear-gradient(90deg, transparent 25%, var(--main-background-colour));
   position: absolute;
   top: 0;
   right: 0;
}

.channel-icon {
   min-width: 2.8rem;
   min-height: 2.8rem;
   margin-right: 4px;
   color: #72767D;
}

.description {
   overflow: hidden;
   text-overflow: ellipsis;
}

.toolbar-container {
   display: flex;
   white-space: nowrap;
   min-width: fit-content;
   align-items: center;
}

.toolbar-element {
   min-width: 2.25rem;
   min-height: 2.25rem;
   margin-right: 1.75rem;
   color: #B9BBBE;
   cursor: pointer;
}

.toolbar-element:hover {
   color: #DCDDDE;
}

.toolbar-searchbar-container {
   min-width: 16rem;
   min-height: 2.4rem;
   align-items: center;
   display: flex;
   transition: min-width 250ms;
}

.toolbar-searchbar {
   min-height: 2.4rem;
   width: 100%;
   background-color: #202225;
   border: none;
   border-radius: 0.4rem;
   outline: none;
   color: rgb(200, 200, 200);
   cursor: text;
   text-indent: 0.5rem;
   transition: 200ms;
}

.toolbar-searchbar-container:focus-within {
   min-width: 24rem;
}

.searchbar-search-icon {
   min-width: 1.7rem;
   min-height: 1.7rem;
   color: #72767D;
   position: relative;
   left: -2.5rem;
}

.follow-button {
   font-size: 1.4rem;
   font-weight: bold;
   width: fit-content;
   height: fit-content;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 8px;
   padding-right: 8px;
   background-color: #4F545C;
   border: none;
   border-radius: 0.25rem;
   color: var(--main-text-colour);
   transition: 150ms;
}

.follow-button:hover {
   background-color: #72767D;
   cursor: pointer;
}

.vl {
   margin: 0 1rem;
   height: 2rem;
   border-left: 1px solid #42454B;
}

.description {
   color: #B9BBBE;
   font-size: 1.4rem;
   font-weight: 600;
}