.wrapper {
   background-color: #36393F;
   overflow: hidden;
   display: flex;
}

.content-container {
   width: 100%;
   overflow: hidden;
}

.posts {
   width: 100%;
   height: 100%;
   display: flex;
}