.wrapper {
   background-color: #36393f;
   overflow: hidden;
   display: flex;
   width: 100vw;
   height: 100vh;
}

.content-container {
   width: 100%;
   overflow: hidden;
}

.feed {
   height: 100%;
   width: 100%;
   display: flex;
}

.channel-dne-container {
   width: 100%;
   background-color: var(--tertiary-background-colour);
   align-items: center;
   text-align: center;
   padding-top: 24rem;
}

.channel-dne-image {
   width: 27rem;
   height: 25rem;
   margin-bottom: 1rem;
}

.channel-dne-title {
   color: #72767d;
   font-size: 1.9rem;
   margin-bottom: 0.4rem;
}

.channel-dne-text {
   color: #72767d;
   font-size: 1.8rem;
   width: 70%;
   margin: 0 auto;
}
