.wrapper {
   background-color: #36393F;
   overflow: hidden;
   display: flex;
   width: 100%;
}

.content-container {
   width: 100%;
   overflow: hidden;
}

.feed {
   height: 100%;
   width: 100%;
   display: flex;
}