.members {
   height: calc(100% - var(--header-height));
   min-width: 24rem;
   max-width: 24rem;
   background-color: var(--secondary-background-colour);
   display: flex;
   flex-direction: column;
   justify-self: right;
   padding: 0 0.8rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   overflow-y: scroll;
   scrollbar-width: thin;
   scrollbar-color: transparent transparent;
   position: sticky;
   right: 0;
}

.members-hidden {
   display: none;
}

.members:hover {
   scrollbar-color: #202225 transparent;
}

.member-group {
   color: #8e908c;
   font-size: 1.2rem;
   text-transform: uppercase;
   font-weight: 600;
   margin-left: 0.8rem;
}
