.notice {
   height: fit-content;
   width: 100%;
   border-bottom: 0.1rem solid #3c3d42;
   position: relative;
   padding: 1.6rem;
}

.close-icon {
   min-height: 2.5rem;
   min-width: 2.5rem;
   color: var(--main-element-colour);
   position: absolute;
   top: 0.6rem;
   right: 1.2rem;
   cursor: pointer;
}

.close-icon:hover {
   color: var(--main-element-hover-colour);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.image {
   width: 16rem;
   margin: 1rem 0;
}

.text {
   color: var(--main-element-hover-colour);
   font-size: 1.6rem;
   text-align: center;
   margin-bottom: 1.4rem;
}

.button {
   width: 100%;
   height: fit-content;
   padding: 0.8rem 0;
   color: white;
   background-color: var(--discord-colour);
   border: none;
   border-radius: 0.2rem;
   font-size: 1.6rem;
   text-align: center;
   transition: background-color 150ms;
   cursor: pointer;
}

.button:hover {
   background-color: var(--dark-discord-colour);
}
