.notice-container {
   height: fit-content;
   width: 100%;
   border-bottom: 0.1rem solid #3c3d42;
   position: relative;
}

.close-icon {
   min-height: 2.5rem;
   min-width: 2.5rem;
   color: var(--main-element-colour);
   position: absolute;
   top: 0.6rem;
   right: 1.2rem;
   cursor: pointer;
}

.close-icon:hover {
   color: var(--main-element-hover-colour);
}

.notice {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1.4rem 0;
}

.image {
   width: 14rem;
   margin: 1rem 0;
}

.invite-friends-notice-icon {
   min-width: 4.4rem;
   min-height: 4.4rem;
   color: #abacae;
   background-color: #424549;
   border: 2px solid #202020;
   border-radius: 100%;
   margin-bottom: 1.4rem;
}

.invite-friends-notice-text {
   color: var(--main-element-hover-colour);
   font-size: 1.6rem;
   text-align: center;
   margin-bottom: 1.4rem;
}

.invite-friends-notice-button {
   width: 88%;
   height: 3rem;
   color: white;
   background-color: var(--discord-colour);
   border: none;
   border-radius: 0.2rem;
   font-size: 1.6rem;
   text-align: center;
   transition: background-color 150ms;
   cursor: pointer;
}

.invite-friends-notice-button:hover {
   background-color: var(--dark-discord-colour);
}
