.post {
   width: 100%;
   font-size: 1.5rem;
   text-align: left;
   color: var(--main-element-hover-colour);
   padding: 0.2rem 1.6rem;
   display: flex;
}

.post:hover {
   background-color: #32353b;
}

.postPartial {
   padding: 0.4rem 1.6rem;
}

.profile-pic-container {
   margin-top: 0.3rem;
}

.profile-pic {
   width: 4rem;
   height: 4rem;
   margin: auto 0;
   margin-right: 1.6rem;
   border-radius: 100%;
   border: none;
   cursor: pointer;
   background-color: #282c30;
}

.right-container {
   display: flex;
   flex-direction: column;
}

.username-date-container {
   width: 100%;
   height: fit-content;
   gap: 1rem;
   display: flex;
}

.username {
   cursor: pointer;
}

.username:hover {
   text-decoration: underline;
}

.date {
   font-size: 1.1rem;
   position: relative;
   top: 0.45rem;
   color: #6e6f72;
}

.message-container {
   max-width: 100%;
   display: inline-flex;
   gap: 1.6rem;
   padding-left: 1.3rem;
   padding-right: 2.9rem;
}

.post:hover .post-time {
   color: #67686b;
}

.post-time {
   font-size: 1.1rem;
   color: var(--main-background-colour);
}

.message {
   padding-top: 0.2rem;
   word-break: break-word;
}

.message-partial {
   padding-top: 0.2rem;
   margin-top: -0.6rem;
}
