.server-bar {
   background-color: #202225;
   min-width: 7.2rem;
   height: 100vh;
   padding-top: 1.15rem;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

hr.divider {
   background-color: #2D2F32;
   border: none;
   height: 2px;
   width: 32.5px;
   margin-bottom: var(--server-icon-margin-bottom);
}

.icon {
   display: flex;
   width: 48px;
   height: 48px;
   margin-bottom: var(--server-icon-margin-bottom);
   border-radius: 100%;
   background-color: #36393F;
   border: none;
   transition: border-radius 150ms ease-out, background-color 150ms ease-out;
}

.icon:hover {
   border-radius: 1.75rem;
   background-color: #5865F2;
}

.center {
   margin-left: auto;
   margin-right: auto;
}