.server-bar {
   background-color: var(--tertiary-background-colour);
   min-width: 7.2rem;
   height: 100vh;
   padding-top: 1.2rem;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* Internet Explorer 10+ */
}

hr.divider {
   background-color: #2d2f32;
   border: none;
   min-height: 0.2rem;
   width: 3.2rem;
   margin: 0.8rem auto;
   border-radius: 1rem;
}
