.wrapper {
   background-color: #202225;
   width: 72px;
   height: 100vh;
   padding-top: 11.5px;
   padding-bottom: 1px;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   float: left
}

hr.divider {
   background-color: #2D2F32;
   border: none;
   height: 2px;
   width: 32.5px;
   margin-bottom: var(--server-icon-margin-bottom);
}

.icon {
   display: flex;
   width: 48px;
   height: 48px;
   margin-bottom: var(--server-icon-margin-bottom);
   border-radius: 100%;
   background-color: #36393F;
   border: none;
}

.icon:hover {
   border-radius: 40%;
}

.center {
   margin-left: auto;
   margin-right: auto;
}