.sidebar {
   min-width: 24rem;
   height: 100vh;
   background-color: var(--secondary-background-colour);
   display: flex;
   flex-direction: column;
}

/* Header */

.server-settings {
   width: 100%;
   min-height: var(--header-height);
   border-bottom: 0.2rem solid rgba(0, 0, 0, 0.15);
   color: var(--main-text-colour);
   padding: 0 1.4rem;
   font-size: 1.6rem;
   font-weight: 400;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: left;
   transition: background-color 150ms;
   cursor: pointer;
}

.server-settings:hover {
   background-color: #35373d;
}

.settings-dropdown-icon {
   min-width: 2.2rem;
   min-height: 2.2rem;
   color: #d6d6d7;
}

/* Sections and Channels */

.channels-container {
   height: 100%;
   width: 100%;
   scrollbar-width: thin;
   display: flex;
   flex-direction: column;
   padding: 1.4rem 0;
   scrollbar-width: thin;
   scrollbar-color: transparent transparent;
   overflow: scroll;
   overflow-x: hidden;
}

.channels-container:hover {
   scrollbar-color: #202225 transparent;
}

.new-channels-container {
   margin-bottom: 1.6rem;
}
