/* User Panel */

.user-panel {
   min-height: 5.3rem;
   background-color: #292b2f;
   display: flex;
   align-items: center;
}

.profile-pic-container {
   width: 3.2rem;
   height: auto;
   margin-left: 0.8rem;
   display: flex;
   position: relative;
   border-radius: 100%;
}

.profile-pic {
   width: 3.2rem;
   height: auto;
   border-radius: 100%;
   cursor: pointer;
}

.profile-pic-container:hover {
   filter: brightness(80%);
}

.status-icon {
   width: 1.6rem;
   height: 1.6rem;
   background-color: #3ba55d;
   border-radius: 100%;
   border: 3px solid #292b2f;
   position: absolute;
   bottom: -0.3rem;
   right: -0.3rem;
   cursor: pointer;
}

.username-container {
   margin-left: 0.8rem;
   line-height: 1.5rem;
   width: 100%;
   cursor: pointer;
}

.username {
   font-size: 1.3rem;
   color: white;
   font-weight: bold;
}

.discriminator {
   font-size: 1.2rem;
   color: #afb1b3;
}

.toolbar {
   display: flex;
   margin-right: 0.8rem;
}

.toolbar-element {
   width: 2rem;
   height: auto;
   color: var(--main-element-colour);
   cursor: pointer;
}

.element-container {
   width: 3.2rem;
   height: 3.2rem;
   border-radius: 0.4rem;
   display: flex;
   justify-content: center;
}

.element-container:hover {
   background-color: #33373b;
}

.element-container:hover > .toolbar-element {
   color: var(--main-element-hover-colour);
}
